<%= form_for(article) do |f| %>
  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :stock %>
    <%= f.number_field :stock, min: 0, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: 'btn btn-primary btn-lg btn-block' %>
  </div>
<% end %>