<div class="page-header">
  <h1>
    <span>Articles</span>
    <%= link_to 'Create Article', new_article_path, :class => "btn btn-success create-btn" %>
    <%= link_to 'Create Article in bulk', bulk_upload_articles_path, :class => "btn btn-success create-btn-bulk" %>
  </h1>
  <hr/>
</div>

<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:error] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:error] %>
  </div>
<% end %>

<div class="container">
  <div class="row align-items-center">
    <div class="col">
      ID
    </div>
    <div class="col">
      Name
    </div>
    <div class="col">
      Stock
    </div>
    <div class="col">
      Edit
    </div>
    <div class="col">
      Delete
    </div>
  </div>
  <% @articles.each do |article| %>
    <div class="row align-items-center mt-3">
      <div class="col">
        <%= article.id %>
      </div>
      <div class="col">
        <%= link_to article.name, article_path(article.id) %>
      </div>
      <div class="col">
        <%= article.stock %>
      </div>
      <div class="col">
        <%= link_to 'Edit', edit_article_path(article.id), :class => "btn btn-primary" %>
      </div>
      <div class="col">
        <%= link_to 'Delete', article_path(article.id), method: :delete, :class => "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>
