<h1>Article <%= @article.id %> </h1>

<dl class="row">
  <dt class="col-sm-3">Name</dt>
  <dd class="col-sm-9"><%= @article.name %></dd>

  <dt class="col-sm-3">Stock</dt>
  <dd class="col-sm-9"><%= @article.stock %></dd>
</dl>