// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.create-btn {
  position: absolute;
  right: 70px;
  top: 80px;
}

.create-btn-bulk {
  position: absolute;
  right: 200px;
  top: 80px;
}
