<%= form_for(product) do |f| %>
  <div class="form-group row">
    <%= f.label :name, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-5">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <h3>The product articles</h3>
    <div id='product_articles'>
    <%= f.fields_for :product_articles do |product_article| %>
      <%= render 'product_article_fields', :f => product_article %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add article', f, :product_articles %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: 'btn btn-primary btn-lg btn-block' %>
  </div>
<% end %>