<div class='nested-fields'>
  <div class="form-group row">
    <%= f.label :article_id, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-5">
      <%= f.collection_select(:article_id, @articles, :id, :name, {}, { class: 'form-select' }) %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :amount, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-5">
      <%= f.text_field :amount, class: 'form-control' %>
    </div>
  </div>
  <%= link_to_remove_association "remove article", f %>
</div>