<div class="page-header">
  <h1>
    <span>Bulk Upload Products</span>
  </h1>
  <hr/>
</div>
<%= form_for :products, method: :post, url: '/bulk_upload/products' do |form| %>
  <div class="form-group row">
    <div class="col-sm-5">
      <p>Please select the Products json file</p>
      <%= form.file_field :json_file, class: 'form-control' %>
    </div>
  </div>
  <br/>
  <div class="actions">
    <%= form.submit "Submit", class: 'btn btn-primary btn-lg btn-block' %>
  </div>
<% end %>