<div class="page-header">
  <h1>
    <span>Products</span>
    <%= link_to 'Create Product', new_product_path, :class => "btn btn-success create-btn" %>
    <%= link_to 'Create Products in bulk', bulk_upload_products_path, :class => "btn btn-success create-btn-bulk" %>
  </h1>
  <hr/>
</div>

<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:error] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:error] %>
  </div>
<% end %>

<div class="container">
  <div class="row align-items-center">
    <div class="col">
      ID
    </div>
    <div class="col">
      Name
    </div>
    <div class="col">
      Inventory*
    </div>
    <div class="col">
      Sell
    </div>
    <div class="col">
      Edit
    </div>
    <div class="col">
      Delete
    </div>
  </div>
  <% @products.each do |product| %>
    <div class="row align-items-center mt-3">
      <div class="col">
        <%= product.id %>
      </div>
      <div class="col">
        <%= link_to product.name, product_path(product.id) %>
      </div>
      <div class="col">
        <%= product.quantity %>
      </div>
      <div class="col">
        <%= form_for :product, method: :post, url: "products/#{product.id}/sell" do |form| %>
        <div class="mb-2">
          <%= form.number_field :quantity, min: 1, max: product.quantity, class: 'form-control', placeholder: 'Quantity' %>
        </div>
        <div class="mb-2">
          <%= form.submit "Sell", class: 'btn btn-outline-success mb-2' %>
        </div>
        <% end %>
      </div>
      <div class="col">
        <%= link_to 'Edit', edit_product_path(product.id), :class => "btn btn-primary" %>
      </div>
      <div class="col">
        <%= link_to 'Delete', product_path(product.id), method: :delete, :class => "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>
<hr/>
<div class="container">
<p>This inventory is not that accurate since it depends on product articles that are shared with other products</p>
</div>
