<h1>Product <%= @product.id %> </h1>

<dl class="row">
  <dt class="col-sm-3">Name</dt>
  <dd class="col-sm-9"><%= @product.name %></dd>

  <p>Articles</p>
  <dt class="col-sm-3">Name</dt>
  <dt class="col-sm-9">Amount</dt>
  <% @product.product_articles.each do |product_article| %>
    <% article = @articles.select { |article| article.id == product_article.article_id }.first %>
    <dd class="col-sm-3"><%= article.name %></dd>
    <dd class="col-sm-9"><%= product_article.amount %></dd>
  <% end %>
</dl>